{% extends "base.html" %}
{% block start %}

<hr>

  <div class="container-fluid px-3 mt-4">
    <h1>   This Page Send an Email</h1>
    <a href="{% url 'send_email' %}" class="btn btn-success">Send Email</a>
  </div>
    <hr>

    <a href="/Contact/">
    Contact
    </a>
    |
    <a href="/About/">
    About
    </a>
    <hr>
    
   

    <table>
  <tr>
    <th>S.no</th>
    <th>Name</th>
    <th>Age</th>
    <th>Vote</th>
  </tr>

  {% for people in peoples %}

  <tr>
    <td>{{forloop.counter}}</td>
    <td>{{people.name}}</td>
    <td>{{people.age}}</td>

    <td {% if people.age < 18 %} style="background:red" {% endif %}>
      
      {% if people.age >= 18 %}
      Yes
      {% else %}
      NO
      {% endif %}
    </td>
  </tr>

  {% endfor %}
 
</table>
    
{% endblock %}